<% provide(:title, "Home")  %>
<% if logged_in? %>
	<div class="row">
		<aside class="col-md-4">
			<section class="user_info">
				<%= render 'shared/user_info' %>
			</section>
			<section class="new_recipe_form">
				<%= render 'shared/new_recipe_form' %>
			</section>
		</aside>
		<div class="col-md-8">
			<h3>Recipe Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class="center jumbotron">
		<h1>欢迎来到郭老大大厨房</h1>
	
		<h2>
			唯吃货与美食不可负也！——FTW
		</h2>
	
		<%= link_to "注册", signup_path, class: "btn btn-lg btn-primary"%>
	</div>
	
	<%= link_to image_tag("rails.jpg", alt: "Rails log"), 'http://rubyonrails.org/'%>
<% end %>
<div class="global view area">
	<%= render "shared/global_view" %>
</div>
