<% provide(:title, "Details") %>
<li>
    <div class="recipe_details_name">
        <h2><%= @recipe.name %></h2>
    </div>
    <div class="recipe_details_category">
        <h2><%= @recipe.category %></h2>
    </div>
    <div class="recipe_details_need_ingredients">
        <h3><%= @recipe.need_ingredients %></h3>
    </div>
    <div class="recipe_details_steps">
        <%= @recipe.steps %>
    </div>
    <div class="recipe_details_user">
        <h3>Contributor: <%= @recipe.user.name %> </h3>
    </div>
</li>